<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>SSO</name>
    <version>100</version>
    <defaultcat>Server Admin</defaultcat>
    <type>user</type>
    <desc>A single sign-on module for Sentora.</desc>
    <authorname>Supared Limited</authorname>
    <authoremail>support@supared.com</authoremail>
    <authorurl>http://supared.com/</authorurl>
    <updateurl>http://zppy.supared.com/sso-version.xml</updateurl>
</module>